@model VidlyTutorial.Models.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error{
        color: red;
    }
    .input-validation-error{
        border: 2px solid red;
    }
</style>
<!DOCTYPE html>

@using (Html.BeginForm("Create", "Customer",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=> m.customer.Name)
        @Html.TextBoxFor(m => m.customer.Name, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Birth)
        @Html.TextBoxFor(m => m.customer.Birth, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.Birth)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m=> m.customer.IsSubscribedToNewsletter) Subscribed To News Letter?
            @Html.ValidationMessageFor(m => m.customer.IsSubscribedToNewsletter)
        </label>
    </div>

    <div class="form-group">
        @Html.DropDownListFor(m=> m.customer.MembershipTypeId, new SelectList(Model.membershipType,"Id","Name")," ---Select MemberShip Type --- ", new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.MembershipTypeId)
    </div>

    <div class="form-group">
        <button type="submit">Save</button>
    </div>

}
