@model VidlyTutorial.Models.ViewModel.NewCustomerViewModel
@{
    ViewBag.Title = "Create Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(m=> m.customer.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Name)
        @Html.TextBoxFor(m => m.customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=> m.customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.customer.Birth)
        @Html.TextBoxFor(m => m.customer.Birth,"{0: d MMM yyyy}" ,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.Birth)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.IsSubscribedToNewsletter) Subscribed To News Letter?
        </label>
    </div>

    <div class="form-group">
        @Html.DropDownListFor(m => m.customer.MembershipTypeId, new SelectList(Model.membershipType, "Id", "Name"), " ---Select MemberShip Type --- ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.Name)
    </div>

    <div class="form-group">
        <button type="submit">Edit</button>
    </div>

}
@Html.ActionLink("Delete","DeleteCustomer", new { id = Model.customer.Id })